body {
  background: linear-gradient(
    109.6deg,
    rgb(0, 0, 0) 11.2%,
    rgb(11, 132, 145) 91.1%
  );
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
}

.gochi-hand {
  font-family: "Gochi Hand", cursive;
}

.lobster {
  font-family: "Lobster", sans-serif;
}

.initials {
  margin: 1px solid white;
  padding: 5px;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-family: "Lobster", sans-serif;
}

.initials:hover {
  background-color: white;
  color: #212529;
}

.nav-link {
  text-align: center !important;
}

.logo {
  margin-top: 60px;
}

.side-menu {
  color: rgb(222, 222, 222);
  font-size: 20px;
  text-decoration: none;
  line-height: 3;
  transition: 400ms all ease-in-out;
  opacity: 0.8;
  background: none !important;
  border: none !important;
}

.side-menu:hover {
  opacity: 1;
  cursor: pointer;
}

.white {
  color: white;
}

span {
  color: white !important;
}

.full-width {
  width: 100% !important;
  max-width: 100% !important;
}

.width {
  width: 80%;
}

.rounded-corners {
  border-radius: 15px;
}

.icons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 40px;
}

.icons {
  color: white;
  text-align: center;
  font-size: 30px;
  margin: 20px 0;
  transition: 400ms all ease-in-out;
  opacity: 0.7;
}

.icons:hover {
  opacity: 1;
  transform: scale(1.1);
}

.carousel {
  margin-top: 10px !important;
  width: 90% !important;
  display: block;
  margin: 0 auto;
}

.about-me,
.gallery {
  font-family: "Gochi Hand", cursive;
  color: white;
  opacity: 0.8;
}

.maisy {
  width: 70%;
  border-radius: 50%;
  margin-top: 40px;
}

.pirate {
  width: 70%;
  border-radius: 50%;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
  opacity: 0.6;
}

.contact-me-h1 {
  font-size: 70px;
  color: white;
  font-family: "Gochi hand";
}

.contact-me-h2 {
  color: white;
  font-size: 30px;
  opacity: 0.8;
  font-family: "Gochi hand";
}

.contact-me-link {
  color: white;
  font-size: 30px;
  font-family: "Gochi hand";
  opacity: 1;
  transition: 400ms all ease-in-out;
}

.contact-me-link:hover {
  opacity: 0.9;
  text-decoration: none;
}

.opacity-1 {
  opacity: 1 !important;
}

p,
.font-25 {
  font-size: 25px;
}

.thin {
  max-width: 300px;
  margin: 0 auto;
}

.bottom-icon {
  color: white;
  opacity: 0.6;
  font-size: 40px;
  margin-bottom: 30px;
  transition: 300ms all ease-in-out;
}

.bottom-icon:hover {
  opacity: 1;
  transform: scale(1.1);
}

.gallery-h1 {
  margin-top: 150px;
}

.tea-and-toms {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}

.gallery-image {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 10px;
  padding: 10px;
  background-color: black;
  max-width: 300px;
  transition: 400ms all ease-in-out;
}

.gallery-image:hover {
  transform: scale(1.2);
}

.painting-title,
.medium {
  font-family: "Gochi Hand", cursive;
  font-size: 15px;
  text-align: center;
  color: white;
  line-height: 1;
}

.painting-title {
  margin-top: 15px;
}

.medium {
  opacity: 0.8;
}

@media (min-width: 701px) {
  .navbar {
    display: none;
  }
  .body {
    padding-top: 50px !important;
  }
}

@media (max-width: 700px) {
  .side-menu-container {
    display: none;
  }
}

@media (max-width: 770px) {
  .big-screen {
    display: none;
  }
  .icons-column {
    display: none;
  }
  .small-screen {
    display: block !important;
    margin: 0 auto !important;
  }
  .tea-and-toms {
    display: none !important;
  }
  .row > * {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (min-width: 771px) {
  .small-screen {
    display: none;
  }
  .big-screen {
    display: block !important;
    margin: 0 auto !important;
  }
  .contact-me-h1 {
    margin-top: 50px !important;
  }
}

@media (max-width: 815px) {
  .logo {
    margin-top: 30px;
  }
  .icons-container {
    margin-top: 10px;
  }
}
